.committee-heading {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.committee-member {
  margin-left: 60px;
  margin-top: 20px;
  background-color: white;
  padding: 40px;
}

.committee-member:hover {
  background-color: #d3ffed;
}

.committee-member-image {
  /* round image of 20px  */
  border-radius: 100px;
  /* border: 1px solid #ccc; */
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}

.committee-member-name {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #123693;
}

.committee-member-title {
color: #828892;
  font-size: 14px;
}