.reviewers {
    margin: 40px
}

h4 {
    text-align: left;
    color: #123693;
}

h5 {
    text-align: left;
    color: #123693;
}
p {
    text-align: left;
}

ul {
    text-align: left;
}

li {
    text-align: left;
}